:root {
    --h-header: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Arvo", serif;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

a:hover {
    cursor: pointer;
}

/* reusable */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}